[user]
	name = Johannes Hofmann
	email = johannes_hofmann@me.com
[core]
	excludesfile = /Users/jay/.gitignore_global
	editor = /usr/bin/vim
[includeIf "gitdir:~/Work/webtec/gitlab"]
	path = ~/dotfiles/.gitconfig-webtec
[merge]
	tool = vimdiff3
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[init]
	defaultBranch = main
[pull]
	rebase = false
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[diff]
	tool = delta
[delta]
	hunk-header-style = file line-number syntax
	line-numbers-minus-style = "#9D1834"
	minus-style = syntax "#300C18"
	line-numbers-plus-style = "#248D24"
	plus-style = syntax "#112811"
	side-by-side = true
