[user]
	name = Johannes Hofmann
	email = johannes_hofmann@me.com
[core]
	excludesfile = /Users/jay/.gitignore_global
	editor = /usr/bin/vim
[merge]
	tool = vimdiff3
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[init]
	defaultBranch = main
[includeIf "gitdir:~/Work/"]
	path = ~/dotfiles/.gitconfig-webtec
